@font-face {
  font-family: "BPtypewrite";
  src: local("bptypewrite.damaged-italic"),
  url("../../fonts/bptypewrite.damaged-italic.otf") format("opentype");
  //font-weight: bold;
}

.sideBar{
  height: 87%;
  width: 350px;
  position: fixed;
  top:118px;
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding-right: 12px;
  //border-right: 1px solid #dedede;

  .navList{
    overflow-x:hidden;
    .announcement{
      text-align: start;
      text-indent: 40px;
      font-size: 1.4em;
      font-family: "Ubuntu Mono", serif;
      margin: 10px 0 40px 0px;
      border-bottom: 1px solid #d4d4d4;
      a{
        color: black;
        display: block;
        padding: 25px 30px;

        .accountSettingBtn{
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          span{
            margin: 0 0 0 10px;
            text-indent:0;
          }
        }
      }
      a:hover{
        color: white;

      }

    }
    .announcement:hover{
      border-radius: 20px;
      margin: 30px 10px;
      transition-duration: 0.5s;
      transform: scale(1.06);
      background-color: rgb(59, 129, 241);
    }


    .Category{
      ul{
        li{
          text-align: start;
          text-indent: 50px;
          list-style: none;
          font-size: 1.4em;
          font-family: "Ubuntu Mono", serif;
          margin: 5px 0 20px 0;
          a{
            color: black;
            display: block;
            padding:15px;

          }
          a:hover{
            color: white;
          }
        }

        li:last-child{
          border-bottom: 1px solid #d4d4d4;

        }
        ul{
          li{
            font-size: 1.1em;
            text-indent: 0;
            padding: 0px 75px;
            //  //border: 0px solid black;
            //  border-radius: 20px;
            //  text-align: start;
            //  margin-left: 2em;

          }
        }
        li:hover{
          background-color: rgb(59, 129, 241);
          color: white;
          cursor: pointer;
          margin: 30px 10px;
          border-radius: 20px;
          transition-duration: 0.5s;
          transform: scale(1.06);
        }
        }
    }

  }
  .weatherLocation{
    text-align: start;
    text-indent: 30px;
    font-size: 1.2em;
    font-family: "Ubuntu Mono", serif;
    margin: auto 10px 10px 10px;
    border-bottom: 1px solid #d4d4d4;

  }

  .setting{
    text-align: start;
    text-indent: 40px;
    font-size: 1.4em;
    font-family: "Ubuntu Mono", serif;
    border-bottom: 1px solid #d4d4d4;
    a{
      color: black;
      display: block;
      padding: 25px 30px;
      .accountSettingBtn{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        span{
          margin: 0 0 0 10px;
          text-indent:0;
        }
      }
    }
    a:hover{
      color: white;

    }


  }
  .setting:hover{
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    transition-duration: 0.5s;
    transform: scale(1.06);
    background-color: rgb(59, 129, 241);
  }

}