@font-face {
  font-family: "BPtypewrite";
  src: local("bptypewrite.damaged-italic"),
  url("../../fonts/bptypewrite.damaged-italic.otf") format("opentype");
  //font-weight: bold;
}

.sideBar{
  height: 100%;
  position: fixed;
  width: auto;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dedede;
  .title_logo{
    padding: 30px 20px;
    border-bottom: 1px solid black;
    span{
      font-family: BPtypewrite, serif;
      font-size: 48px;
    }
  }

  li {
    list-style: none;
  }

  ul{
    padding: 0;
  }
  .navList > ul > li {
    padding: 20px 0;
    border: 1px solid black;
    border-radius: 50px;
    text-align: start;
    text-indent: 40px;
  }
  .navList > ul > li > ul > li{
    padding: 10px 0 10px 25px ;
    border: 1px solid black;
    border-radius: 50px;
    text-align: start;
    margin-left: 10px;
    //text-indent: 140px;

  }

  .navList{







  }
}